<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<!-- 자바스크립트 인라인 사용 전 -->
<script>
 var username = [[${user.username}]]; // "" 에러 발생
 var age = [[${user.age}]];

 //자바스크립트 내추럴 템플릿
 var username2 = /*[[${user.username}]]*/ "test username"; // 그냥 주석으로 나옴

 //객체
 var user = [[${user}]]; // "" 에러 발생
</script>

<!-- 자바스크립트 인라인 사용 후 > 타임리프의 값들을 js에서 활용하기 편리해짐-->
<script th:inline="javascript">
 var username = [[${user.username}]]; // 문자 처리
 var age = [[${user.age}]]; // 숫자 처리

 //자바스크립트 내추럴 템플릿
 var username2 = /*[[${user.username}]]*/ "test username"; // 그냥 파일을 열면 test username

 //객체
 var user = [[${user}]]; // 객체 json 변환
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
 [# th:each="user, stat : ${users}"]
 var user[[${stat.count}]] = [[${user}]];
 [/]
</script>

</body>
</html>